.btn-primary {
  //display: block;
  //max-width: 300px;
  text-align: center;
  margin: 10px auto;
  font-size: 1rem;
  font-weight: 300;
  padding: .25rem 30px;
  border-radius: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &.green {
    background-color: $green;
    border-color: $green;
  }
  &.more {
    background-color: $green;
    border-color: $green;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 30px;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }
}
