.btn-primary {
  //display: block;
  //max-width: 300px;
  text-align: center;
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem 30px;
  border-radius: 35px;
  letter-spacing: 1px;
  &.green {
    background-color: $green;
    border-color: $green;
  }
  &.more {
    background-color: $green;
    border-color: $green;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 30px;
  }
}
