.content {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 40px;
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  img {
    width: 100%;
  }

  .small-text {
    font-size: .875rem;
  }
  main {
    @include clearfix;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    /*
    max-width: $screen-md-min !important;
    .single &, .blog &, .archive & {
      max-width: $screen-lg-min !important;
    }
    */
    .page-header {
      h1 {
        font-size: 2rem;
        margin-bottom: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    .content-container {
      max-width: $screen-md-min;
      margin: 0 auto;
    }

    h2 {
      font-weight: 300;
    }

    a.excerpt-more {
      display: block;
      font-weight: 600;
      &::after {
        content: "»";
        padding-left: 5px;
      }
    }

    .align-right {
      margin-left: 20px;
    }
    figure {
      max-width: 100%;
    }
    figcaption {
      line-height: normal;
    }
    .quote {
      font-weight: 700;
      margin-bottom: 20px;
    }
    .quote-attribute {
      margin-top: 10px;
    }

    // news content styling
    .news-list {
      article {
        margin-bottom: 20px;
      }
    }

    // people/staff content styling
    .people, .people-list {
      .row {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
      }
      .position {
        font-weight: 700;
      }
      .bio {
        margin-top: 20px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .large-text {
      font-size: 1.5rem;
    }
  }
}
