.content {
  font-size: 1.25rem;
  line-height: 1.5;
  //margin-top: 40px;
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1rem;
  }

  img {
    //width: 100%;
  }

  .small-text {
    font-size: .875rem;
  }
  .green-text {
    color: $green;
  }
  .blue-text {
    color: $mid-blue;
  }

  .callout {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 300;
    color: $orange;
    margin: .5em 0;
  }

  main {
    @include clearfix;
    padding: 0;
    margin: 0 auto;
    position: relative;
    /*
    max-width: $screen-md-min !important;
    .single &, .blog &, .archive & {
      max-width: $screen-lg-min !important;
    }
    */
    .page-header {
      position: relative;
      color: $white;
      .page-image {
        height: 145px;
        width: 100vw;
        margin-left: calc((100% - 100vw) / 2);
        position: relative;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .intro {
        position: relative;
        font-size: 1.3rem;
      }
      h1 {
        font-size: 1.5rem;
        color: $white;
        font-weight: 300;
        margin-bottom: .5em;
      }
    }

    .content-container {
      max-width: $screen-md-min;
      margin: 40px auto;
    }

    a.excerpt-more {
      display: block;
      font-weight: 600;
      &::after {
        content: "»";
        padding-left: 5px;
      }
    }

    .align-right {
      margin-left: 20px;
    }
    figure {
      max-width: 100%;
    }
    figcaption {
      line-height: normal;
    }
    .quote {
      font-style: italic;
      margin-bottom: 20px;
      line-height: 1.25;
    }
    .quote-attribute {
      margin-top: 10px;
    }

    .btn-primary {
      min-width: 200px;
    }




    // news content styling
    .news-list {
      article {
        margin-bottom: 20px;
      }
    }

    // people/staff content styling
    .people, .people-list {
      .row {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
      }
      .position {
        font-weight: 700;
      }
      .bio {
        margin-top: 20px;
      }
    }
  }

  // submenu navigation
  .submenu-navigation {
    margin-bottom: 40px;
    .menu-submenu > li > a {
      color: $gray;
      font-size: 1.5rem;
      padding-left: 20px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        font-size: 1.25rem;
      }

      &.menu-submenu > li > .sub-menu {
        background-color: $blue;
        border-radius: 10px;
        padding: 20px 0;
        li {
          //padding: 5px 20px;
          a {
            color: $white;
            font-weight: 600;
            padding: 5px 20px;
            display: block;
          }
          &.current-menu-item > a {
            background-color: $dark-blue;
            &:hover {
              text-decoration: none;
            }
          }
          li {
            a {
              font-weight: 400;
              padding-left: 35px;
            }
            li {
              a {
                font-weight: 300;
                padding-left: 50px;
              }
            }
          }
        }
      }
    }
  }

  .home & {
    main {
      .page-header {
        display: none;
      }
      .content-container {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    main {
      .page-header {
        h1 {
          position: absolute;
          top: 20px;
          margin-top: 0;
        }
        .intro {
          color: $dark-gray;
          background-color: $light-gray;
          padding: 20px;
          width: 100vw;
          margin-left: calc((100% - 100vw) / 2);
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .large-text {
      font-size: 1.5rem;
    }
    main {
      font-size: 1.25rem;
      .page-header {
        height: 300px;
        .page-image {
          position: absolute;
          height: 300px;
        }
        h1 {
          position: relative;
          font-size: 2.6rem;
          padding-top: .5em;
        }
        .intro {
          font-size: 1.125rem;
        }
      }

      h2 {

      }
    }
  }

  @include media-breakpoint-up(lg) {
    main {
      .page-header {
        height: 520px;
        .page-image {
          height: 520px;
        }
        h1 {
          font-size: 3.75rem;
        }
        .intro {
          font-size: 2.6rem;
          .quote-attribute {
            font-size: 1.75rem;
          }
        }
      }

      h2 {
        font-size: 2.2rem;
      }

      h3 {
        font-size: 2rem;
      }

      .callout {
        font-size: 3rem;
      }
    }
  }
}
