footer.content-info {
  background-color: $dark-gray;
  padding: 40px;
  color: $white;
  font-size: .875rem;
  a {
    color: $white;
    font-weight: 400;
  }
  .contact-info {
    margin-top: 10px;
  }
  form {
    input[type=text] {
      border-radius: 20px;
      border: 0;
      margin: 10px 0;
      width: 80%;
      padding: 5px 20px;
    }
    .btn {
      font-size: .875rem;
      font-weight: 600;
    }
  }
}
