header.banner {
  width: 100%;
  background: rgba($white, 0.9);
  z-index: 100;
  position: relative;
  border-bottom: 1px $gray solid;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin: 0 auto;
  }

  .brand {
    //margin-left: 20px;

    img {
      height: 80px;
      width: auto;
      transition: all 0.3s ease;
    }
  }

  nav.nav-primary {
    #navbar {
      padding: 15px;
      font-weight: 600;
    }

    ul.nav {
      .menu-item {
        width: 100%;
        font-size: 1.125rem;
        text-transform: uppercase;
        a {
          color: $dark-gray;
          padding: 0;
          font-weight: 600;
        }

        .sub-menu {
          //display: none;
          list-style: none;
          margin: 0 0 10px 0;
          padding: 0;
          max-width: 400px;

          .menu-item {
            padding: 0;
            letter-spacing: normal;
            text-transform: none;
            a {
              font-weight: 400;
            }
            &.hover {
              .sub-menu {
                display: block;
              }
            }

            .sub-menu {
              display: none;
            }
          }
        }
      }
    }

    .navbar-toggler {
      display: block;
      padding: 0;
      margin: 0;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 40px;
      font-size: 2.5rem;
      color: $mid-blue;

      .icon-bar {
        width: 40px;
        height: 2px;
        border-radius: 10px;
        border: 2px $mid-blue solid;
        display: block;
        margin-bottom: 8px;
      }
    }
    .navbar-toggler[aria-expanded=true] {
      .icon-bar {
        display: none;
      }
      &::after {
        content: "\f00d";
        font-family: $fontawesome;
        font-weight: 300;
        color: $orange;
        padding: 0 10px;
      }
    }

    @media (max-width: $screen-md-min) {
      #navbar {
        position: absolute;
        width: calc(100% - 80px);
        top: 100%;
        background: $mid-blue;
        //max-width: $screen-xs-min;
        left: 0;
        padding: 20px 40px;
        margin: 0 40px;

        .menu-item {
          margin-bottom: 5px;
          a {
            color: $white;
          }
          .menu-item {
            margin: 0;
            a {
              border: none;
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
      #navbar {
        //left: calc((100% - #{$screen-xs-min}) / 2);
      }
    }

    @media (min-width: $screen-md-min) {
      height: 42px;
      margin-top: 20px;
      position: absolute;
      bottom: 5px;
      right: 80px;

      .navbar-toggler {
        display: none;
      }

      #navbar {
        padding: 0 15px;

        &.collapse,
        &.fade {
          display: block;
          opacity: 1;
        }

        ul.nav {
          margin: 0;
          float: right;

          > .menu-item {
            width: auto;
            border: none;
            padding: 0;
            font-weight: 600;

            > a {
              position: relative;
              z-index: 1;
              padding: 9px 10px;
              margin-left: 1px;
            }

            &.alignright {
              margin-left: auto;
            }

            &:hover {
              > a {
                color: $yellow;
                background-color: $blue;
                border-radius: 10px 10px 0 0;
              }
              > .sub-menu {
                display: block;
              }
            }

            > .sub-menu {
              display: none;
              position: absolute;
              min-width: 250px;
              width: auto;
              margin: 0;
              padding: 10px 0;
              //background: rgba($background-darkblue, .8);
              background: $blue;
              border: 1px $white solid;
              border-radius: 0 10px 10px 10px;
              margin-top: -1px;

              .menu-item {
                font-size: 1.125rem;
                float: none;
                padding: 0 0 5px 0;
                a {
                  padding: 5px 15px;
                  color: $white;
                  font-weight: 600;
                  &::after {
                    display: none;
                  }
                  &:hover {
                    background-color: $dark-blue;
                  }
                }

                .sub-menu {
                  display: block;
                  position: relative;
                  background: none;

                  .menu-item {
                    text-transform: none;
                    a {
                      font-weight: 400;
                      padding-left: 30px;
                    }
                    .menu-item {
                      a {
                        padding-left: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .toplinks {
    margin-top: 0;
    float: right;
    line-height: 1;
    display: none;
    position: relative;
    .social,
    .contact {
      vertical-align: middle;
      margin-right: 50px;
      //display: inline-block;
    }

    .contact .btn {
      font-size: .625rem;
      text-transform: uppercase;
      font-weight: 300;
      padding: 2px 20px;
      background-color: $blue;
      border-color: $blue;
    }
  }

  .search-form {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (max-width: $screen-sm-min) {
    //position: fixed;
    .brand {
      img {
        height: 70px;
      }
    }
  }

  @media (min-width: $screen-xs-min) {
    nav.nav-primary {
      .navbar-toggler {
        .icon-bar {
          width: 50px;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {

    .toplinks, .search-form {
      display: block;
    }

    .search-form {
      #search-fields {
        top: 60px;
      }
    }

    nav.nav-primary {
      .navbar-toggler {
        right: 60px;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .toplinks {
      //margin-right: 20px;

      .links {
        display: inline-block;
      }

      .donate,
      .j1 {
        padding: 10px 15px;
        font-size: .875rem;
      }
      .row-2 {
        margin-top: 0;
      }
    }

    .brand {
      img {
        height: 80px;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    .header-container {
      max-width: $screen-lg-min;
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
