/*
Landing page content styling
 */

.template-landing {
  // hero image with text
  .page-top {
    .section-bar {
      padding: 10px 0;
      .page-title {
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  .content {
    margin-top: 0;
    .main {
      padding: 0;
    }
    .content-block {
      margin-top: 30px;
      padding: 20px 0;
      .container {
        padding: 0;
      }
      .title {
        font-weight: 700;
      }
      h3.title {
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
      .text {
        max-width: $screen-md-min;
        margin: 0 auto;
      }
      .image {
        background-size: cover;
        background-repeat: no-repeat;
      }
      &[class*=" background-"] {
        width: 100vw;
        margin-left: calc((100% - 100vw) / 2);
        padding: 60px 0;
        margin-top: 0;
        .container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      &.background-orange {
        background-color: $orange;
        color: $white;
        a {
          color: $white;
        }
      }
      &.background-blue {
        background-color: $dark-blue;
        color: $white;
        a {
          color: $white;
        }
      }
      &.background-lightblue {
        background-color: $light-blue;
      }
      &.background-gray {
        background-color: $light-gray;
      }

      &.background-image {
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        padding: 30px 0;
        a {
          color: $white;
        }
        img {
          //position: absolute;
          //width: 100vw;
          //object-fit: cover;
        }
      }

      &.image-column {
        font-size: 1.5rem;
        padding: 0;
        @extend .d-flex;
        .container, .image {
          @extend .col-12;
          @extend .col-md-6;
        }
        .container {
          padding: 30px;
        }
        @include media-breakpoint-down(sm) {
          .image {
            display: none;
          }
        }
        @include media-breakpoint-up(xl) {
          .container {
            padding-left: 120px;
          }
        }
      }

      &.wide-text {
        .text {
          max-width: $screen-lg-min;
        }
      }

      @include media-breakpoint-down(sm) {
        .row {
          .col {
            flex-basis: initial;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &.home {
    .content {
      .content-block {
        &.home-intro {
          padding: 40px 0;
          img {
            margin-bottom: 10px;
          }
          .btn-primary {
            background-color: $green;
            border-color: $green;
            font-size: 1.25rem;
            text-transform: uppercase;
          }
        }
        &.home-stories {
          .content-item {
            margin-bottom: 30px;
          }
          .title {
            margin-bottom: 0;
            margin-top: 10px;
            a {
              color: $dark-gray;
            }
          }
          .excerpt {
            margin-top: 20px;
          }
        }
        &.home-events {
          .title {
            margin-bottom: 0;
          }
          .featured-events {
            .content-item {
              margin-bottom: 30px;
            }
            .excerpt {
              margin-top: 10px;
              .excerpt-more {
                display: none;
              }
            }
            .btn.more {
              margin-top: 20px;
              background-color: $green;
              border-color: $green;
              font-weight: 400;
              text-transform: uppercase;
              font-size: 1.25rem;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {

  }
}
