.content {
  .people-grid {
    .item {
      font-size: 1.25rem;
      background-color: $dark-gray;
      padding: 0;
      margin: 0 10px 30px 10px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        padding: 10px;
        color: $white;
        .title {
          font-weight: 700;
        }
        .position {
          font-weight: 400;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .item {
        max-width: calc(50% - 20px);
      }
    }
    @include media-breakpoint-up(md) {
      .item {
        max-width: calc(33.3333% - 20px);
      }
    }
  }
}
