.content {
  .page.team & {
    .content-container {
      max-width: $screen-lg-min;
    }
  }
  .people-grid {
    .item {
      cursor: pointer;
      font-size: 1.25rem;
      background-color: $dark-gray;
      padding: 0;
      margin: 0 10px 30px 10px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .image {
        .candid {
          display: none;
        }
        &.has-candid {
          &:hover {
            img {
              display: none;
            }
            img.candid {
              display: block;
            }
          }
        }
      }
      .info {
        padding: 10px 20px;
        color: $white;
        .name {
          font-weight: 700;
        }
        .position {
          font-weight: 400;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .item {
        max-width: calc(50% - 20px);
      }
    }
    @include media-breakpoint-up(md) {
      .item {
        max-width: calc(33.3333% - 20px);
      }
    }
  }
  .people-detail {
    .page-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .position {
      font-weight: 600;
    }
    .bio {
      margin-top: 20px;
    }
  }
}
