.content {
  .portfolio-grid {
    .item {
      padding: 40px 0 20px 0;
      border-top: 1px $dark-gray solid;
      margin: 0 20px 40px 20px;
    }
    .image {
      height: 130px;
    }
    img {
      max-height: 130px;
      max-width: 320px;
      width: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .teaser {
      cursor: pointer;
      text-align: center;
      .image {
        margin-bottom: 10px;
      }
      .title {
        color: $blue;
        font-weight: 400;
        font-size: 1.5rem;
      }
      &:hover {
        .title {
          color: $dark-blue;
        }
        .image img {
          opacity: .5;
          //background: $black;
        }
      }
    }
    .portfolio-detail {
      .image {
        margin-bottom: 20px;
        text-align: center;
      }
      .row {
        margin-bottom: 20px;
      }
      .title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .label {
        font-weight: 700;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .portfolio-grid {
      .item {
        margin: 0 10px 40px 10px;
        max-width: calc(50% - 20px);
      }
    }
  }
  @include media-breakpoint-up(md) {
    .portfolio-grid {
      .item {
        max-width: calc(33.33333% - 20px);
      }
    }
  }
}
