.blog, .archive, .search-results {
  main {
    .post, .people, .page {
      font-size: 1.125rem;
      line-height: 1.5;
      margin-bottom: 20px;
      .entry-title {
        font-size: 1.25rem;
        margin: 0;
      }
      .entry-summary {
        //margin-top: 10px;
      }
      p {
        margin: 0;
      }
      .thumb {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .post {
      .thumb {
        display: block;
      }
    }
  }
  .posts-navigation {
    margin-bottom: 40px;
    @include clearfix;
    .nav-links {
      a {
        @extend .btn-primary;
      }
      .nav-previous {
        float: left;
      }
      .nav-next {
        float: right;
      }
    }
  }
}

.single-post {
  .content {
    .post-link {
      text-align: center;
    }
  }
  .entry-title {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .entry-content {
    margin-top: 20px;
  }

  time {
    font-style: italic;
    margin-bottom: 20px;
  }
  .related-issues, .related-news {
    margin-top: 40px;
    line-height: normal;
  }
  .related-news {
    .news-item {
      margin-bottom: 20px;
    }
    h4 {
      margin: 0;
      //font-size: 1.25rem;
    }
    .date {
      font-style: italic;
    }
  }
}
