/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// colors
$blue: #058CE8;
$green: #89AD5D;
$orange: #E06700;
$dark-blue: #002867;
$dark-gray: #3D3D3D;
$black: #000;
$light-gray: #F2F2F2;
$light-blue: #F2F7FA;
$theme-colors: (
  primary: $blue
);

// screen sizes
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1140px;

// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1140px
) !default;

//
// Fonts
//
$source-sans-pro: "Source Sans Pro", sans-serif;
$font-family-base: $source-sans-pro;
$fontawesome: "fontawesome";
